@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F8FAFC;
    color: #1E293B;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #047857 #F1F5F9;
  }
}
